/* dropdown */
.content #tab-actions>a {
    background-color: #60c502 !important;
    color: #FFFFFF;
    cursor: pointer;
    border-color: #3bc013  ;
}

.content #tab-actions>.dropdown-menu {
    left: auto;
    right: 0;
    background-color: #60c502;
    margin-right: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.content #tab-actions>.dropdown-menu li {
    background-color: #60c502 !important;
    border-bottom: 1px solid #3bc013;
}

/* sub panel */
.panel-default>.panel-heading {
    background: #60c502 !important;
    color: #FFFFFF;
    padding: 0;
    height: 32px;
    border-color: #FFFFFF;
}

.panel-default>.panel-heading>a:not(.panel-heading a div) {
    background-color: #60c502;
     box-shadow: 1px 2px 3px black;
}

/* fields */
.detail-view-row-item {
    margin: 0;
    min-width: 48px;
    min-height: 30px;
    padding: 10px;
}

.detail-view-field {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    background-color: #94a6b5;
    color: #534D64;
    padding: 10px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
    min-height: 38px;
    vertical-align: baseline;
    white-space: inherit;
    box-shadow: 1px 2px 3px black;
}